body, html{
  height:100%;
  margin:0;
  font-size:16px;
  font-family:"Lato", sans-serif;
  font-weight:400;
  line-height:1.8em;
  color:#666;
}

.img{
  background-image:url('../img/background.jpg');
  min-height:100%;
  position:relative;
  background-position:center;
  background-size:cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
}

.section{
  text-align:center;
  padding:50px 80px;
  background-color: rgba(0, 55, 104,0.8);
  color:#fff;
}

.text{
  position:absolute;
  top:37%;
  font-weight: bold;
  width:100%;
  text-align:center;
  color:#fff;
  text-shadow: 0px -5px 35px rgba(255,255,255,1),
               5px 5px 6px rgba(0,0,0,0.6);
  font-size:27px;
  letter-spacing:8px;
  text-transform:uppercase;
}

@media(max-width:568px){
  .pimg1, .pimg2, .pimg3{
    background-attachment:scroll;
  }
}
